<section class="section-after-title">
    <div class="container">
    <h2 class="peculiarities__after-title">Послуги та ціни</h2>
    <ul class="peculiarities__after-title-list list">
        <li class="peculiarities__after-title-item">
            <div class="peculiarities__after-title-icon">
            <img src="" alt="студія 5" width="370" height="294" />
            </div>
            <h3 class="peculiarities-text__after-title-text">Масаж класичний</h3>
        </li>
        <li class="peculiarities__after-title-item">
            <div class="peculiarities__after-title-icon">
            <img src="" alt="студія 5" width="370" height="294" />
            </div>
            <h3 class="peculiarities-text__after-title-text">Масаж класичний</h3>
       </li>
        <li class="peculiarities__after-title-item">
            <div class="peculiarities__after-title-icon">
           <img src="" alt="студія 5" width="370" height="294" />
            </div>
            <h3 class="peculiarities-text__after-title-text">Масаж класичний</h3>
        </li>
        <li class="peculiarities__after-title-item">
            <div class="peculiarities__after-title-icon">
            <img src="" alt="студія 5" width="370" height="294" />
            </div>
            <h3 class="peculiarities-text__after-title-text">Масаж класичний</h3>
        </li>
    </ul>
    </div>
    </section>